@media screen and (min-width:1200px) {
    header{
        height: 70px;
        padding: 20px 40px 0 40px;
    }
    .connect{
        right:5px;
    }
    #menu div{
         font-size: 10pt;
    }
}
@media screen and (min-width:600px) and (max-width:1200px) {
    header{
        width: 100%;
        height: 30px;
        margin: 0;
        padding: 20px 40px 40px 40px;
    }
    .connect{
        right:90px;
    }
    header p{
        margin:0;
    }
    div#page{
        margin: 30px 0 0 10px;
    }
    div#page, div#content{
        padding-left:0;
        margin-left: 0;
        width: 100%;
    }
    div.box{
        padding: 20px;
    }
    div#sidebar{
        display: none;
    }
    div#wrapper{
        width: 100%;
        overflow: hidden;
    }
    div.box{
        width: 100%;
    }
    div#page-bottom{
        width:100%;
    }
}
@media screen and (min-width:800px) and (max-width:1200px) {
    .tovar_conteiner{
        width:750px;
    }
    #menu div{
        font-size: 8pt;
    }
    div#menu{
        top: 56px;
        right:60px;
    }
}
@media screen and (min-width:600px) and (max-width:800px) {
    .tovar_conteiner{
        width:500px;
    }
    #menu a div{
        font-size: 7pt;
        padding: 5px 10px 5px 15px;
    }
    div#menu{
        top: 56px;
        right:100px;
    }
}



